{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<h1 class="text-center">Django Applications / Aplicaciones Django</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Apps</li>
</ol>
<div class="row">
    <div class="col-xl-12">
      <!-- Cards Projects -->
        <div class="card">
          <img class="card-img-top" src="https://dostow.tech/static/blog/img/back.jpg" alt="web-apps">
          <div class="card-body">
            <br><p class="card-text lead text-justify">
              En este sitio hay disponibles diversas aplicaciones para distintos usos; A través del tiempo 
              iremos agregando más de ellas utilizando diferentes tecnologías.
              Si desea o tiene en mente desarrollar una aplicación, puede escribirme a través del 
              formulario de contacto -> <a href="https://dostow.tech/contact">Contacto</a>
            </p><br>
            <p class="card-text lead text-justify">
              In the site you have diverse applications available; Through time we will be adding more of 
              them using different technologies.
              <br>If you want or you have in mind to develop an application,
              please contact me here-> <a href="https://dostow.tech/contact">Contact</a>.
            </p>
          </div>
        </div>
      <!-- End Cards Projects -->
    </div>
</div>
{% endblock content %}

